<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EventAlertService.Properties.Settings.IntellimediaConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Intellimedia.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>
      <!--Service Interval-->
      <add key="Interval" value="10000"/>
      
      <!--SMTP Server Setting-->
      <add key="EmailFrom" value="chaitanya.24dec1992@gmail.com"/>
      <add key="Password" value="15thSept247"/>
      <add key ="Host" value="smtp.gmail.com"/>
      <add key ="port" value="587"/>
      <add key="EnableSs1" value="true"/>
      <add key="UseDefaultCredentials" value="true"/>
      
     <!--The Event Interval-->
      <add key="Reminder" value="30"/>
    </appSettings>
</configuration>